{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registrar em Lista de Tarefas:{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card body">
                    <h4 class="card-title text-center">Registrar em Lista de Tarefas</h4>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>