{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}lista de tarefas{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Lista de Tarefas</h1>
        <a id="add-link" href="newtask/">
            <div class="col-2 add-div">
                <i class="fas fa-plus"></i>Adicionar Tarefa
            </div>
        </a>
        <div class="col-9 search-div">
            <form method="GET" id="search-form">
                <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa">
                <i class="fas fa-search" id="search-btn"></i>
            </form>
        </div>
        {% if messages %}
            <ul class="messages">
                {%for message in messages %}
                <li {% if messages.tags %}{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}    
        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-item">
                <span><a href="/task/{{task.id}}">{{task.title}}</a></span>
                <a href="delete/{{task.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                <a href="edit/{{task.id}}"><span><i class="fas fa-edit"></i></span></a>
            </li>
            {% endfor %}
        </ul>
        {% include 'pagination.html' %}
    </div>
    {% endblock %}
</body>
</html>